// change the theme
$theme-colors: (
  "primary": #d84241,
  "danger": #cb2a2a,
  "info": #5493C9,
  "secondary": #5e5f5f,
  "warning": #ffda0a,
  "success": #5dd435,
  "extra": #e5e5e5,
  "black": #000000,
  "white":#FFFFFF
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.highcharts-plot-band{
  transition: 0.3s;
}

.highcharts-plot-band:hover{
  stroke: #ffda0a;
  stroke-width: 5px;
  stroke-linejoin: round;
  cursor: pointer;
  transition: 0.3s;
}

.highcharts-background{
  fill: #F5F5F5
}